{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/qdsuper/css/style.css') }}">
{% endblock %}

{% block title %}Détail dossier{% endblock %}

{% block body %}
    <span class="rouge">Dossier</span> n° {{ id }}, {{ dossier.Titre }}
{% endblock %}